In [24]:
import pandas as pd

cancer = pd.read_csv('BreastCancer.csv')

In [2]:
cancer.head()

,Unnamed: 0,Id,Cl.thickness,Cell.size,Cell.shape,Marg.adhesion,Epith.c.size,Bare.nuclei,Bl.cromatin,Normal.nucleoli,Mitoses,Class
0,1,1000025,5,1,1,1,2,1.0,3,1,1,benign
1,2,1002945,5,4,4,5,7,10.0,3,2,1,benign
2,3,1015425,3,1,1,1,2,2.0,3,1,1,benign
3,4,1016277,6,8,8,1,3,4.0,3,7,1,benign
4,5,1017023,4,1,1,3,2,1.0,3,1,1,benign

In [25]:
cancer = cancer.drop("Unnamed: 0",axis=1)
cancer =  cancer.drop(['Id'], axis =1)
cancer.head()

,Cl.thickness,Cell.size,Cell.shape,Marg.adhesion,Epith.c.size,Bare.nuclei,Bl.cromatin,Normal.nucleoli,Mitoses,Class
0,5,1,1,1,2,1.0,3,1,1,benign
1,5,4,4,5,7,10.0,3,2,1,benign
2,3,1,1,1,2,2.0,3,1,1,benign
3,6,8,8,1,3,4.0,3,7,1,benign
4,4,1,1,3,2,1.0,3,1,1,benign

In [26]:
cancer.tail()

,Cl.thickness,Cell.size,Cell.shape,Marg.adhesion,Epith.c.size,Bare.nuclei,Bl.cromatin,Normal.nucleoli,Mitoses,Class
694,3,1,1,1,3,2.0,1,1,1,benign
695,2,1,1,1,2,1.0,1,1,1,benign
696,5,10,10,3,7,3.0,8,10,2,malignant
697,4,8,6,4,3,4.0,10,6,1,malignant
698,4,8,8,5,4,5.0,10,4,1,malignant

In [18]:
cancer.columns

Index(['Cl.thickness', 'Cell.size', 'Cell.shape', 'Marg.adhesion',
       'Epith.c.size', 'Bare.nuclei', 'Bl.cromatin', 'Normal.nucleoli',
       'Mitoses', 'Class'],
      dtype='object')

In [19]:
cancer.shape

(699, 10)

In [22]:
round(cancer.describe(),2)

,Cl.thickness,Cell.size,Cell.shape,Marg.adhesion,Epith.c.size,Bare.nuclei,Bl.cromatin,Normal.nucleoli,Mitoses
count,699.00,699.00,699.00,699.00,699.00,683.00,699.00,699.00,699.00
mean,4.42,3.13,3.21,2.81,3.22,3.54,3.44,2.87,1.59
std,2.82,3.05,2.97,2.86,2.21,3.64,2.44,3.05,1.72
min,1.00,1.00,1.00,1.00,1.00,1.00,1.00,1.00,1.00
25%,2.00,1.00,1.00,1.00,2.00,1.00,2.00,1.00,1.00
50%,4.00,1.00,1.00,1.00,2.00,1.00,3.00,1.00,1.00
75%,6.00,5.00,5.00,4.00,4.00,6.00,5.00,4.00,1.00
max,10.00,10.00,10.00,10.00,10.00,10.00,10.00,10.00,10.00

In [27]:
cancer.Class = cancer.Class.replace({'benign' : 0, 'malignant':1})

In [28]:
cancer.head()

,Cl.thickness,Cell.size,Cell.shape,Marg.adhesion,Epith.c.size,Bare.nuclei,Bl.cromatin,Normal.nucleoli,Mitoses,Class
0,5,1,1,1,2,1.0,3,1,1,0
1,5,4,4,5,7,10.0,3,2,1,0
2,3,1,1,1,2,2.0,3,1,1,0
3,6,8,8,1,3,4.0,3,7,1,0
4,4,1,1,3,2,1.0,3,1,1,0

In [35]:
from sklearn.model_selection import train_test_split

In [39]:
c_train, c_test = train_test_split(cancer, test_size =  .2)

In [42]:
c_train.head()
c_train.shape

(559, 10)

In [44]:
c_test.shape

(140, 10)

In [54]:
c_train_y = c_train.iloc[ : ,-1]
c_train_x = c_train.iloc[ : ,0:-1]

In [56]:
print(c_train_x.head())
print('==================')
print(c_train_y.head())

     Cl.thickness  Cell.size  Cell.shape  Marg.adhesion  Epith.c.size  \
474             5          1           1              1             2
363             4          4           4              2             2
78              3          1           1              1             2
140             3          1           1              1             2
158             1          1           2              1             3

     Bare.nuclei  Bl.cromatin  Normal.nucleoli  Mitoses
474          1.0            1                1        1
363          3.0            2                1        1
78           3.0            3                1        1
140          1.0            1                1        1
158          NaN            1                1        1
==================
474    0
363    0
78     0
140    0
158    0
Name: Class, dtype: int64

In [57]:
c_test_y = c_test.iloc[ : ,-1]
c_test_x = c_test.iloc[ : ,0:-1]

In [60]:
print(c_test_x.head())
print('=============')
print(c_test_y.head())

     Cl.thickness  Cell.size  Cell.shape  Marg.adhesion  Epith.c.size  \
295             5          5           7              8             6
134             3          1           1              1             3
568             8          4           4              1             6
547             2          1           1              1             1
31              2          1           1              1             2

     Bare.nuclei  Bl.cromatin  Normal.nucleoli  Mitoses
295         10.0            7                4        1
134          1.0            2                1        1
568         10.0            2                5        2
547          1.0            1                1        1
31           1.0            3                1        1
=============
295    1
134    0
568    1
547    0
31     0
Name: Class, dtype: int64