In [5]:
import pandas as pd

sv = pd.read_csv('svmfile.csv')

In [6]:
sv.head()

,age,job,marital,education,default,housing,loan,contact,month,day_of_week,...,campaign,pdays,previous,poutcome,emp.var.rate,cons.price.idx,cons.conf.idx,euribor3m,nr.employed,y
0,56,housemaid,married,basic.4y,no,no,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
1,57,services,married,high.school,unknown,no,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
2,37,services,married,high.school,no,yes,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
3,40,admin.,married,basic.6y,no,no,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
4,56,services,married,high.school,no,no,yes,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no

In [7]:
sv.shape

(41188, 21)

In [9]:
sv.isnull().sum()

age               0
job               0
marital           0
education         0
default           0
housing           0
loan              0
contact           0
month             0
day_of_week       0
duration          0
campaign          0
pdays             0
previous          0
poutcome          0
emp.var.rate      0
cons.price.idx    0
cons.conf.idx     0
euribor3m         0
nr.employed       0
y                 0
dtype: int64

In [10]:
sv.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 41188 entries, 0 to 41187
Data columns (total 21 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   age             41188 non-null  int64
 1   job             41188 non-null  object
 2   marital         41188 non-null  object
 3   education       41188 non-null  object
 4   default         41188 non-null  object
 5   housing         41188 non-null  object
 6   loan            41188 non-null  object
 7   contact         41188 non-null  object
 8   month           41188 non-null  object
 9   day_of_week     41188 non-null  object
 10  duration        41188 non-null  int64
 11  campaign        41188 non-null  int64
 12  pdays           41188 non-null  int64
 13  previous        41188 non-null  int64
 14  poutcome        41188 non-null  object
 15  emp.var.rate    41188 non-null  float64
 16  cons.price.idx  41188 non-null  float64
 17  cons.conf.idx   41188 non-null  float64
 18  euribor3m       41188 non-null  float64
 19  nr.employed     41188 non-null  float64
 20  y               41188 non-null  object
dtypes: float64(5), int64(5), object(11)
memory usage: 6.6+ MB

In [20]:
sv.y.value_counts()

no     36548
yes     4640
Name: y, dtype: int64

In [22]:
from sklearn.preprocessing import LabelEncoder

le =LabelEncoder()

sv.job = le.fit_transform(sv.job)
sv.marital = le.fit_transform(sv.marital)
sv.education = sv.education.replace({'illiterate':0, 'unknown' : 0,
                                    'basic.4y': 1, 'basic.6y': 2,
                                    'basic.9y': 3, 'high.school': 4,
                                    'university.degree': 5,
                                    'professional.course': 6})
sv.default = sv.default.replace({'no': 0, 'unknown':  1, 'yes': 2})
sv.housing = sv.housing.replace({'no': 0, 'unknown':  1, 'yes': 2})
sv.loan = sv.loan.replace({'no': 0, 'unknown':  1, 'yes': 2})
sv.contact = le.fit_transform(sv.contact)
sv.month = sv.month.replace({'mar' : 3,'apr' : 4,'may' : 5,'jun' : 6,'jul' : 7,'aug' : 8,
                            'sep' : 9,'oct' : 10,'nov' : 11,'dec' : 12})
sv.day_of_week = sv.day_of_week.replace({'mon':0, 'tue':1, 'wed':2, 'thu':3, 'fri':4})
sv.poutcome = sv.poutcome.replace({'nonexistent' : 0,
                                  'failure': 1,
                                  'success': 2})
sv.y = sv.y.replace({'no': 0, 'yes': 1})

In [23]:
sv.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 41188 entries, 0 to 41187
Data columns (total 21 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   age             41188 non-null  int64
 1   job             41188 non-null  int64
 2   marital         41188 non-null  int64
 3   education       41188 non-null  int64
 4   default         41188 non-null  int64
 5   housing         41188 non-null  int64
 6   loan            41188 non-null  int64
 7   contact         41188 non-null  int32
 8   month           41188 non-null  int64
 9   day_of_week     41188 non-null  int64
 10  duration        41188 non-null  int64
 11  campaign        41188 non-null  int64
 12  pdays           41188 non-null  int64
 13  previous        41188 non-null  int64
 14  poutcome        41188 non-null  int64
 15  emp.var.rate    41188 non-null  float64
 16  cons.price.idx  41188 non-null  float64
 17  cons.conf.idx   41188 non-null  float64
 18  euribor3m       41188 non-null  float64
 19  nr.employed     41188 non-null  float64
 20  y               41188 non-null  int64
dtypes: float64(5), int32(1), int64(15)
memory usage: 6.4 MB

In [84]:
from sklearn.model_selection import train_test_split

# random_state = picks up that number of combination that from all combinations possible
sv_train, sv_test = train_test_split(sv, test_size= .2, random_state= 123 )

df1 = sv_train[sv_train.y == 1]
sv_train = pd.concat([sv_train, df1])

sv_train_x = sv_train.iloc[ : , 0:-1]
sv_train_y = sv_train.iloc[ : , -1]

sv_test_x = sv_test.iloc[ : , 0:-1]
sv_test_y = sv_test.iloc[ : , -1]

In [34]:
#sv_train_x.head()

In [86]:
from sklearn.svm import SVC # support vector classifier

In [87]:
# add hyper parameter to tune the model performance for accuracy
#svm_ds = SVC(kernel = 'linear')
svm_ds = SVC(kernel = 'poly', degree=10)

In [88]:
svm_ds.fit(sv_train_x, sv_train_y)

SVC(degree=10, kernel='poly')

In [89]:
pred_svm = svm_ds.predict(sv_test_x)

In [90]:
from sklearn.metrics import confusion_matrix

In [91]:
tab_svm = confusion_matrix(sv_test_y, pred_svm)
tab_svm

array([[6891,  407],
       [ 388,  552]], dtype=int64)

In [92]:
7191+107

7298

In [48]:
734+ 206

940